.introHowToBrew h1 {
  margin-bottom: 0.2rem;
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
}

.ingredients h2 {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.ingredients h3,
.containerSteps h3 {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.containerSteps h2 {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.howToBrewText {
  line-height: 2em;
}

.introHowToBrew {
  padding: 2rem 0;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  background-color: #d2d7df;
}

.introHowToBrew > *:nth-child(1) {
  padding: 3rem;
  flex: 1 1 45%;
  min-width: 30ch;
  display: flex;
  justify-content: flex-end;
}

.introHowToBrew > *:nth-child(2) {
  padding: 3rem;
  flex: 1 1 55%;
  min-width: 35ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introHowToBrew img {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
 
.ingredients {
  margin: 2rem 0;
  padding: 2.75rem 2rem;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ingredients > div {
  position: relative;
  width: 50%;
  margin-bottom: 0.5rem;
}

.containerSteps {
  padding-top: 3rem;
  padding-bottom: 4rem;
  color: #333333;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d2d7df;
}

.introSteps {
  width: 60%;
  margin-bottom: 1.5rem;
}

.steps {
  width: 60%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.steps > * {
  padding: 1rem;
  flex: 1 1 25rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
