.introMyBeer h1 {
  margin-bottom: 0.2rem;
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
}

.contentMyBeer h2 {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 1.85rem;
  font-weight: 400;
}

.myBeerText {
  line-height: 2em;
}

.contentMyBeer p {
  margin-top: 3rem;
  margin-bottom: 0;
  z-index: 1;
  font-size: 1.5rem;
}

.myBeerImg {
  height: 360px;
  width: 450px;
}

.introMyBeer {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #d2d7df;
  color: #333333;
}

.introMyBeer > *:nth-child(1) {
  padding: 3rem;
  flex: 1 1 45%;
  min-width: 30ch;
  display: flex;
  justify-content: flex-end;
}

.introMyBeer > *:nth-child(2) {
  padding: 3rem;
  flex: 1 1 55%;
  min-width: 35ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introMyBeer img {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.contentMyBeer {
  margin-top: 4rem;
  padding: 1.25rem;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myBeerYet {
  position: relative;
  top: -70px;
  z-index: -1;
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 5.35rem;
  font-weight: 400;
  transform: rotate(330deg);
  color: #f780007c;
}

.myBeerLink {
  margin-bottom: 8.75rem;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.myBeerLinkStyleOne img,
.myBeerLinkStyleTwo img,
.myBeerLinkStyleThree img,
.myBeerLinkStyleFour img {
  transition: box-shadow 0.15s 0.15s;
}

.myBeerLinkStyleOne img:hover {
  box-shadow: #5c5552 0px 7px 15px;
}

.myBeerLinkStyleTwo img:hover {
  box-shadow: #f77f00 0px 7px 15px;
}

.myBeerLinkStyleThree img:hover {
  box-shadow: #ba181b 0px 7px 15px;
}

.myBeerLinkStyleFour img:hover {
  box-shadow: #06aed5 0px 7px 15px;
}

@media (max-width: 1159px) {
  .introMyBeer h1 {
    font-size: 2.1rem;
  }

  .myBeerImg {
    height: 280px;
    width: 340px;
  }

  .introMyBeer > *:nth-child(1) {
    flex: 1 1 50%;
  }

  .introMyBeer > *:nth-child(2) {
    padding: 1.75rem;
    flex: 1 1 50%;
  }

  .myBeerText {
    font-size: 1em;
  }
}

@media (max-width: 820px) {
  .introMyBeer > *:nth-child(1) {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .myBeerText,
  .introMyBeer h1,
  .contentMyBeer h2 {
    text-align: center;
  }

  .myBeerLink {
    padding: 0 0.5rem;
  }
}
