.introMyBeer {
  /*   mask created with 
  https://css-generators.com/wavy-shapes/ */
  padding: 3.25rem 0;
  margin-top: 2.25rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #d2d7df;
  color: #333333;
  /*   --mask: radial-gradient(
        13.12px at 50% calc(100% - 18.5px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 20px) 0/40px 100%,
    radial-gradient(13.12px at 50% calc(100% + 8.5px), #0000 99%, #000 101%) 50%
      calc(100% - 10px) / 40px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask); */
  --mask: radial-gradient(50.4px at 50% 70.5px, #000 99%, #0000 101%)
      calc(50% - 60px) 0/120px 51% repeat-x,
    radial-gradient(50.4px at 50% -40.5px, #0000 99%, #000 101%) 50% 30px/120px
      calc(51% - 30px) repeat-x,
    radial-gradient(50.4px at 50% calc(100% - 70.5px), #000 99%, #0000 101%)
      calc(50% - 60px) 100%/120px 51% repeat-x,
    radial-gradient(50.4px at 50% calc(100% + 40.5px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px calc(51% - 30px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.introMyBeer > *:nth-child(1) {
  padding: 5rem 0;
  flex: 1 1 40%;
  /* min-width: 30ch; */
  display: flex;
  justify-content: flex-end;
}

.introMyBeer > *:nth-child(2) {
  padding: 0 0.75rem;
  flex: 1 1 60%;
  min-width: 35ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introMyBeerTextDiv {
  width: 85%;
  margin-left: 1.25rem;
}

.myBeerImg {
  width: 390px;
  height: 300px;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.introMyBeer h1 {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
}

.myBeerText {
  line-height: 1.75em;
}

.contentMyBeer h2 {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.contentMyBeer p {
  margin-top: 3rem;
  margin-bottom: 0;
  z-index: 1;
  font-size: 1.15rem;
}

.contentMyBeer {
  margin-top: 3rem;
  padding: 1.25rem 1.25rem 0;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myBeerYet {
  position: relative;
  top: -60px;
  z-index: -1;
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  transform: rotate(330deg);
  color: #f780007c;
}

.myBeerLink {
  margin: 0.1rem 1.25rem 8rem;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.myBeerLinkStyleOne img,
.myBeerLinkStyleTwo img,
.myBeerLinkStyleThree img,
.myBeerLinkStyleFour img {
  height: 120px;
  width: 175px;
  transition: box-shadow 0.15s 0.15s;
}

.myBeerLinkStyleOne img:hover {
  box-shadow: #5c5552 0px 7px 15px;
}

.myBeerLinkStyleTwo img:hover {
  box-shadow: #f77f00 0px 7px 15px;
}

.myBeerLinkStyleThree img:hover {
  box-shadow: #ba181b 0px 7px 15px;
}

.myBeerLinkStyleFour img:hover {
  box-shadow: #06aed5 0px 7px 15px;
}

.button {
  all: unset;
  position: fixed;
  bottom: 15px;
  right: 4px;
  color: green;
  border: none;
  background-color: transparent;
}

@media (max-width: 1159px) {
  .myBeerImg {
    width: 328px;
    height: 238px;
  }
  .introMyBeer h1 {
    font-size: 1.9rem;
  }
  .contentMyBeer h2 {
    font-size: 1.45rem;
  }
}

@media (max-width: 900px) {
  .introMyBeer > *:nth-child(1) {
    flex: 1 1 50%;
    padding: 2.6rem 1.35rem;
  }
  .introMyBeer > *:nth-child(2) {
    padding: 2.5rem 0;
    flex: 1 1 50%;
  }
  .introMyBeerTextDiv {
    margin-left: 0.5rem;
  }
  .myBeerText {
    font-size: 0.95em;
  }
}

@media (max-width: 819px) {
  .myBeerImg {
    width: 310px;
    height: 220px;
  }
}

@media (max-width: 741px) {
  .introMyBeer > *:nth-child(1) {
    justify-content: center;
    padding: 0;
    margin: 2.7rem 0;
  }
  .introMyBeer > *:nth-child(2) {
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
  }
  .myBeerText,
  .introMyBeer h1,
  .contentMyBeer h2 {
    text-align: center;
  }
  .myBeerLink {
    padding: 0 0.5rem;
  }
  .introMyBeerTextDiv {
    margin-left: 0;
  }
  .myBeerImg {
    margin-right: 0;
  }
  .myBeerLinkStyleOne img,
  .myBeerLinkStyleTwo img,
  .myBeerLinkStyleThree img,
  .myBeerLinkStyleFour img {
    height: 115px;
    width: 170px;
  }
}

@media (hover: none) {
  .myBeerLinkStyleOne img,
  .myBeerLinkStyleTwo img,
  .myBeerLinkStyleThree img,
  .myBeerLinkStyleFour img {
    transition: none;
  }

  .myBeerLinkStyleOne img:hover {
    box-shadow: none;
  }

  .myBeerLinkStyleTwo img:hover {
    box-shadow: none;
  }

  .myBeerLinkStyleThree img:hover {
    box-shadow: none;
  }

  .myBeerLinkStyleFour img:hover {
    box-shadow: none;
  }
}
