.lagerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lagerLink {
  width: clamp(33ch, 90%, 96ch);
  margin: 2.75rem 0 1.2rem 0;
}

.lagerLinkStyle {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-decoration: none;
  color: green;
  text-shadow: -6px 4px rgba(0, 128, 0, 0.222);
  transition: 0.12s 0.12s;
}

.lagerLinkStyle:hover {
  color: orange;
  text-shadow: -6px 4px rgba(255, 166, 0, 0.322);
}

.lagerContainer {
  margin-bottom: 4rem;
  padding: 2.5rem 1.25rem;
  width: clamp(33ch, 90%, 96ch);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.lagerIntro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2.3rem;
}

.lagerIntro img {
  width: 185px;
  height: 145px;
  margin-right: 1.15rem;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: #06aed5 0px 7px 15px;
}

.lagerIntroText {
  width: 70%;
}

.lagerIntroText h1 {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0;
}

.lagerIntroText p {
  line-height: 1.7em;
  margin-top: 0.5rem;
}

.lagerInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.lagerInfoImg {
  min-height: 750px;
  flex: 1 1 45%;
  min-width: 25ch;
}

.lagerInfoUl {
  flex: 1 1 55%;
  background-color: #d2d7df;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lagerInfoUl h2 {
  margin-bottom: 2.75rem;
  margin-left: 0.7rem;
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 1.55rem;
  font-weight: 400;
}

.lagerInfoUl ul {
  padding: 0;
  margin: 0;
  width: 98%;
  list-style: none;
}

.lagerInfoUl li {
  margin-bottom: 1.7rem;
  margin-left: 0.7rem;
  line-height: 1.5em;
}

.lagerInfoUl li span {
  margin-right: 0.4rem;
  color: green;
  font-weight: bold;
  font-size: 1.1em;
}

.button {
  all: unset;
  position: fixed;
  bottom: 15px;
  right: 4px;
  color: green;
  border: none;
  background-color: transparent;
}

@media (max-width: 1024px) {
  .lagerLink {
    margin-top: 2.2rem;
  }
  .lagerIntroText h1 {
    font-size: 1.55rem;
  }
  .lagerInfoUl h2 {
    font-size: 1.35rem;
  }
  .lagerLinkStyle {
    font-size: 1.6rem;
  }
  .lagerIntro img {
    width: 170px;
    height: 135px;
  }
}

@media (max-width: 923px) {
  .lagerContainer {
    padding-top: 1.25rem;
  }
  .lagerIntro {
    margin-bottom: 1.5rem;
  }
  .lagerIntro img {
    width: 150px;
    height: 120px;
  }
  .lagerContainer p {
    font-size: 0.95em;
  }
  .lagerInfoUl li {
    margin-bottom: 1.25rem;
    font-size: 0.95em;
  }
  .lagerInfoImg {
    min-height: 650px;
  }
  .lagerIntroText h1 {
    font-size: 1.5rem;
  }
  .lagerInfoUl h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 714px) {
  .lagerIntro {
    justify-content: center;
    text-align: center;
  }
  .lagerIntro img {
    margin: 2.5rem 0 1.7rem 0;
  }
  .lagerIntroText {
    width: 80%;
  }
  .lagerIntroText p {
    margin-top: 0.75rem;
  }
  .lagerInfo {
    width: clamp(27ch, 70%, 34ch);
    text-align: center;
  }
  .lagerInfoImg {
    min-height: 500px;
    min-width: 20ch;
  }
  .lagerInfoUl {
    align-items: center;
  }
  .lagerInfoUl h2 {
    margin: 2.5rem 0;
  }
  .lagerInfoUl li {
    margin-left: 0;
  }
  .lagerInfoUl ul li:last-child {
    margin-bottom: 2.5rem;
  }
}
