.porterMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.porterText {
  line-height: 2em;
}

.porterUlText {
  line-height: 1.5em;
}

.porterLink {
  width: 80%;
  margin: 2rem 0;
}

.porterLinkStyle {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-decoration: none;
  color: green;
  text-shadow: 3px 3px rgba(0, 128, 0, 0.076);
  transition: 0.12s 0.12s;
}

.porterLinkStyle:hover {
  color: orange;
  text-shadow: 3px 3px rgba(255, 166, 0, 0.322);
}

.porterContent {
  margin-bottom: 5rem;
  padding: 2rem;
  width: 80%;
  color: #333333;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.porterIntro {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  display: flex;
  flex-wrap: wrap;
}

.porterIntro > *:nth-child(1) {
  flex: 1 1 35%;
  min-width: 25ch;
  display: flex;
  justify-content: flex-end;
}

.porterIntro > *:nth-child(2) {
  flex: 1 1 65%;
  display: flex;
  align-items: center;
}

.porterIntro img {
  margin: 2rem 3.25rem;
}

.porterIntro h1 {
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.porterInfoContainer {
  display: flex;
  justify-content: center;
}

.porterInfo {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.porterInfo > *:nth-child(1) {
  min-height: 700px;
  padding: 10rem;
  flex: 1 1 45%;
  min-width: 20ch;
}

.porterInfo > *:nth-child(2) {
  padding: 3rem;
  flex: 1 1 55%;
  background-color: #d2d7df;
}

.porterInfo h2 {
  margin-bottom: 3.5rem;
  font-family: "Rubik Dirt", cursive, sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}

.porterInfo ul {
  padding: 0;
  list-style: none;
}

.porterInfo li span {
  margin-right: 0.5rem;
  font-weight: bold;
  color: green;
}

.porterInfo li {
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #333333;
}

@media (max-width: 810px) {
  .porterLink {
    width: 85%;
  }

  .porterContent {
    width: 85%;
  }

  .porterIntro > *:nth-child(1) {
    margin-bottom: 3rem;
    justify-content: center;
  }

  .porterIntro h1 {
    font-size: 1.5rem;
  }

  .porterInfo > *:nth-child(1) {
    padding: 9rem;
  }

  .porterInfo h2 {
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }

  .porterText .sourAleUlText {
    font-size: 1em;
  }
}
