.footer {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: green;
}

.footerCopyright {
  display: flex;
  align-items: center;
}

.footerCopyright p {
  margin-left: 0.35em;
}