.footer {
  padding: 17px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: green;
  font-size: 0.75em;
}

.footerLogo {
  height: 89px;
  width: 89px;
}

.footer > div {
  display: flex;
  align-items: center;
}

.footer p {
  margin-left: 0.2em;
}

@media (max-width: 620px) {
  .footer > *:nth-child(3) {
    max-width: 30%;
  }

  .footerLogo {
    height: 82px;
    width: 82px;
  }
}
