.navbar {
  padding: 10px;
  background: linear-gradient(to left bottom, #696969, #ffffff);
  color: #333333;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  max-width: 50%;
}

.contact {
  display: flex;
  align-items: center;
}

.heading {
  margin-left: 1.2rem;
  letter-spacing: 0.2em;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 1.5em;
}

.heading span {
  display: block;
  margin-top: 0.25em;
}

.icon {
  font-size: 35px;
  color: #333333;
  margin-right: 1.2rem;
}
