.navbar {
  padding: 10px;
  background-color: black;
  color: orange;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  margin-left: 0.75rem;
}

.link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  max-width: 55%;
}

.linkStyle {
  text-decoration: none;
  color: orange;
}

.contact {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 35px;
  color: green;
  margin-right: 1.2rem;
}

@media (max-width: 599px) {
  .link {
    display: none;
  }
}